<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="globalVariables" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">GV1dsfdsgfsdgfdsgfdshbgdfs454343262457645374657y6474537645876986</value>
        <value name="value">GV156486949841324234@#(*&amp;#$@(*&amp;$#(*&amp;Q)&amp;$(*#&amp;#$(*&amp;)(#&amp;)#&amp;@)UHGUIAFSD)(#$)(@!*#$)(*@!)(#$&amp;)#(&amp;$)*#@&amp;$)(*#&amp;@)($&amp;&amp;&amp;&amp;#@)(#)(&amp;$)(#@&amp;$)(#@&amp;$)(#&amp;$)(#@&amp;)($&amp;#@)($&amp;#@)($&amp;)(@#&amp;)(@#&amp;$)(#@&amp;U$)(*#@B*)&amp;C*N ) Y*#@ &amp;$*# Y*@YU$(*@#DXN* #*YX(*_#YN(X(#*YX(*#YU*&amp;NCY_(*#Y_*(@CY</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">GV2</value>
        <value name="value">gvhandle.GV2</value>
        <value name="isSecure">true</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
